# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar
**/logs/
*.log

# IDE
*.iml
.idea/
*.classpath
*.project
*.settings/

# OS
.DS_Store
Thumbs.db
